@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #0b0710 0%, #1a0f2a 100%);
  color: #fff;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.card {
  @apply bg-gradient-to-br from-btg-800/70 to-btg-700/60 shadow-lg rounded-xl p-4;
}
